
.pos .product .qty-available {
    position: absolute;
    top: 3px;
    right: 55px;
    vertical-align: top;
    color: white;
    line-height: 9px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}


