.pos{
    .leftpane {
        .orderline {
            .product-name{
                .sh_default_code{
                    font-weight: bold;
                    font-size: 12px;
                }
            }
        }
    }
    .rightpane{
        .product-list{
            .product-content{
                .sh_ref_code{
                    font-weight: bold;
                    font-size: 12px;
                }
            }
        }
    }
}